body {
    background-image: url("../img/header.png");
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400!important;
}


 
 /**/

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead {
    background: #3398E1;
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index:10;
    text-align: center;
}

.masthead img {
    margin-left: 1rem !important;
}

.masthead a {
  color: #fff !important;
  text-decoration: none !important;
}

.footer {
    background: #3398E1;
    height: auto;
    padding-top: 11px;
    padding-bottom: 1px;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    /* box-shadow: 0 16px 48px #E3E7EB; */
}

.footer a {
    color: #fff !important;
}

.cardhead  {
  display: flex !important;
  justify-content: center !important;
  margin-left: auto !important;
  flex-wrap: wrap !important; 
  flex: 1 !important;
  padding: 10px !important;
  
}

@media (orientation: landscape) {
.cardhead   {
    flex-direction: row !important;
    max-width: 1300px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    min-width:576px !important ;
    padding: 0 !important;
    
  }
}

@media (orientation: portrait) {
.cardhead {
    flex-direction: column !important;
    
  }
}  


.card {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
    padding: 10px !important;
  }

.card-img-top img {
    display: inline-block !important;
    height: auto !important;
    max-width: 100% !important;
    
  }  


 

  .card-footer-img img {
    height: 24px !important;
    max-width: 24px !important;
  }  
 
  .card a {
    color: #3398E1!important;
    text-decoration: none !important;
  }  
  
  .card-close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    color: #3398E1!important;
    font-size: 0.85rem;
  }
    

  

.page-header {
    padding-top: 80px; /* nav height */
}

.navbar {
    margin-bottom: -2px;
    padding: .3rem 0rem;
}

.navbar-brand {
    font-family: lobster !important;
}

.nav-item {
    text-decoration: none!important ;
    -o-transition: color .3s ease-out, background 3s ease-in !important;
    -ms-transition: color .3s ease-out, background 3s ease-in !important;
    -moz-transition: color .3s ease-out, background 3s ease-in !important;
    -webkit-transition: color .3s ease-out, background 3s ease-in !important;
    transition: color .3s ease-out, background 3s ease-in !important;
}

.list-group-item-action.active {
    background-color: #3398E1 !important;
    border-color: #3398E1 !important;
}

.list-group-item {
    padding: .2rem 1rem !important; 
}


img {
    margin-right: 20px !important;
    border-radius: 0.2rem !important;
}

.btn-sm {
    font-size: 1.5rem !important ;
    line-height: 1.2 !important;
    border-radius: .2rem !important;
    border: 2px;
}

  
  
  .badge.bg-warning.text-dark {
    position: absolute;
    bottom:5px;
    left: 5px;
    z-index: 1;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 0.85rem;
    background-color: #fff !important;
  }
 

  .badge-banner {
    bottom: 80%;
    border-radius: 15px;
    font-size: 0.7rem;
  }
  
 .active>.page-link {
    background-color: #3398E1 !important;
 }