{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}

    <div class="container">
        <div class="col-lg-8 col-md-6 mb-3 ">
            <div class="card border-success">  
           
            <!-- Описание товара -->
            <div class="card-body">
                
                <div class="card-close">
                {% tag_categories as categories %}
                         {% for category in categories %}
                        <a type="button" class="btn-close" href="{% url "main:index" %}" aria-label="Выход"></a>
                         {% endfor %}
                        </div> 
                    <a><h5 class="card-title">{{ product.name }}</h5></a>         
                <div class="card-img-top"> 
                
                <p class="card-text">Цена: <strong>{{ product.sell_price }} ₽</strong></p>
                <p class="card-text">{{ product.description|safe}}</p>
                <div class="card-footer bg-transparent border-success">
                <p href="{% url "cart:cart_add" %}" class="btn btn-success add-to-cart"
                data-product-id="{{ product.id }}">
                {% csrf_token %}
                Добавить в корзину</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock  %} 