{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}
{% block content %}
<div class="container "> 
    <div class="row "> 
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-1-list" data-bs-toggle="list" href="#list-1" role="tab" aria-controls="list-1">Регулировка окон</a>
          <a class="list-group-item list-group-item-action" id="list-2-list" data-bs-toggle="list" href="#list-2" role="tab" aria-controls="list-2">Регулировка алюминиевых балконов</a>
          <a class="list-group-item list-group-item-action" id="list-3-list" data-bs-toggle="list" href="#list-3" role="tab" aria-controls="list-3">Замена комплектующих</a>
          <a class="list-group-item list-group-item-action" id="list-4-list" data-bs-toggle="list" href="#list-4" role="tab" aria-controls="list-4">Замена/ремонт фурнитуры</a>
          <a class="list-group-item list-group-item-action" id="list-5-list" data-bs-toggle="list" href="#list-5" role="tab" aria-controls="list-5">Замена уплотнительной резины</a>
          <a class="list-group-item list-group-item-action" id="list-6-list" data-bs-toggle="list" href="#list-6" role="tab" aria-controls="list-6">Установка детских замков</a>
          <a class="list-group-item list-group-item-action" id="list-7-list" data-bs-toggle="list" href="#list-7" role="tab" aria-controls="list-7">Установка москитных сеток</a>
          <a class="list-group-item list-group-item-action" id="list-8-list" data-bs-toggle="list" href="#list-8" role="tab" aria-controls="list-8">Установка рулонных штор</a>
          <a class="list-group-item list-group-item-action" id="list-9-list" data-bs-toggle="list" href="#list-9" role="tab" aria-controls="list-9">Замена стеклопакета</a>
        </div>
      </div>
   
      <div class="col-lg-8 col-md-6 mb-3">
        <div class="card border-success">  
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-1-list"><img src="{% static 'img/service1.png' %}"height="260px" align="left" ><h5 >Регулировка окон от 600 рублей</h5>
              <p>В случае если у Вас "просела" створка или не закрывается, появилось продувание или "свист"
                 из оконных створок, или же ручка не закрывается до конца, то Вам поможет регулировка окна.</p></div>
                 <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-2-list"><img src="{% static 'img/service2.png' %}"height="260px" align="left">
                 <h5>Ремонт и регулировка алюминиевых конструкций от 500 рублей</h5>
                 При интенсивной эксплуатации возникают люфты и зазоры между створками и рамой, что не только вызывает сквозняки, но и осложняет открывание, закрывание.
                 Чтобы устранить перекосы и зазоры, нужно отрегулировать оконные механизмы.</div>
                 <div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-3-list"><img src="{% static 'img/service3.png' %}"height="260px" align="left">
                 <h5>Замена комплектующих от 200 рублей</h5>
                 Сломалась фурнитура на пластиковом окне? Это не критично. Отремонтировать ее можно в любое время.
                 И даже если сейчас не очень хочется этими вопросами заниматься, лучше, все же, сделать это. 
                 Ведь окно со сломанной фурнитурой эксплуатировать неудобно, а результативность его работы будет крайне низкой.</div>
                 <div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-4-list"><img src="{% static 'img/service4.png' %}"height="260px" align="left">
                 <h5>Ремонт фурнитуры от 1500 рублей</h5>
                  Бывает такое, что ручка крутится, а фурнитура не двигается - чаще всего это проблема не в ручке, а именно в фурнитуре; а значит требуется её ремонт или замена. 
                  Или же у Вас сломалась какая-то деталь в фурнитуре, а эта деталь уже снята с производства, тогда не стоит тратить большие деньги на замену всего окна, можно заменить только фурнитуру.</div>
                  <div class="tab-pane fade" id="list-5" role="tabpanel" aria-labelledby="list-5-list"><img src="{% static 'img/service5.png' %}"height="260px"align="left" >
                  <h5>Замена уплотнительной резины от 1200 рублей</h5>
                  Если у вас старая уплотнительная резина "задубела" и не выполняет своих функций, то её следует заменить. 
                  Самое сложное на данном этапе - правильно подобрать резину, чтобы она подходила к вашему профилю и не портила фурнитуру.</div>
                  <div class="tab-pane fade" id="list-6" role="tabpanel" aria-labelledby="list-6-list"><img src="{% static 'img/service6.png' %}"height="260px" align="left">
                  <h5>Установка "детских" замков от 600 рублей</h5>
                      Маленькие детки любят играть рядом с окнами, и, к сожалению, бывают случаи, что они случайно открывают окна. Чтобы такого не происходило, мы своими клиентам устанавливаем "детские" замки.</div>
                  <div class="tab-pane fade" id="list-7" role="tabpanel" aria-labelledby="list-7-list"><img src="{% static 'img/service7.png' %}"height="260px" align="left">
                  <h5>Производство и установка москитных сеток</h5>
                      Москитная сетка - идеальное средство против комаров, мух и других летающих насекомых в вашей квартире. 
                      Часто бывает, что у клиентов есть кошка и она любит "драть" москитные сетки.
                      Производство и установка москитной сетки в нашей компании - быстрое и надёжное решение данной проблемы.</div>
                  <div class="tab-pane fade" id="list-8" role="tabpanel" aria-labelledby="list-8-list"><img src="{% static 'img/service8.png' %}"height="260px" align="left">
                  <h5>Установка рулонных штор от 300 рублей</h5>
                      В летний зной и в период палящего солнца Вашу квартиру и Ваше спокойствие защитят рулонные шторы. Они долговечны и довольно просты в эксплуатации.</div>
                  <div class="tab-pane fade" id="list-9" role="tabpanel" aria-labelledby="list-9-list"><img src="{% static 'img/service9.png' %}"height="260px" align="left">
                  <h5>Замена стеклопакета от 1200 рублей</h5>
                      У Вас треснул стеклопакет и Вас смущает его вид? Или появилось запотевание ПВХ-окон?
                      Необязательно менять всё окно целиком. 
                      Достаточно просто сменить стеклопакет. Вы всегда можете обратиться в нашу компанию и мы в короткие сроки решим Вашу проблему.</div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>    
      </div>
{% endblock %}
      </div>
    </div>
</div>
{% block footer %}
<footer class="footer col-md-12  mb-3">
    <a href="tel:+79129481580" class="phone-number"><img src="{% static 'img/tel.png' %}"height="20px"></a>
    <a href="mailto:andrey.knyazev.76@gmail.com"><img src="{% static 'img/email.png' %}"height="20px"></a>
    <a href="https://vk.com/yaznautochno" ><img src="{% static 'img/vk.png' %}"height="30px"></a>
    <p class="text-light ">Copyright &copy; Андрей Князев</p>
</footer>
{% endblock %}


