{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}   
{% endblock %}

{% block footer %}
        <footer class="footer col-md-12  mb-3">
        <a href="tel:+79087165967" class="phone-number"><img src="{% static 'img/tel.png' %}"height="20px"></a>
        <a href="mailto:andrey.knyazev.76@gmail.com"><img src="{% static 'img/email.png' %}"height="20px"></a>
        <a href="https://vk.com/yaznautochno" ><img src="{% static 'img/vk.png' %}"height="30px"></a>
        <p class="text-light ">Copyright &copy; Андрей Князев</p>
    </footer>
{% endblock %}



