body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  font-family: "Roboto", sans-serif !important;
  font-size: 17px !important;
}

.dropdown-toggle::after {
  content: none;
}


.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 1;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 15px;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.masthead {
  background: #3398E1;
  text-align: center;
  height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
   /*
  box-shadow: 0 16px 48px #E3E7EB; */
  z-index:10;
}

.masthead img {
  margin-left: 1rem !important;
}

.masthead a {
  color: #fff !important;
  text-decoration: none!important ;
  -o-transition: color .3s ease-out, background 3s ease-in !important;
  -ms-transition: color .3s ease-out, background 3s ease-in !important;
  -moz-transition: color .3s ease-out, background 3s ease-in !important;
  -webkit-transition: color .3s ease-out, background 3s ease-in !important;
  transition: color .3s ease-out, background 3s ease-in !important;
}